# Requirements for the backend server
fastapi==0.85.2
sqlalchemy==1.4.42
psycopg2-binary==2.9.5
uvicorn[standard]==0.15.0
gunicorn==20.1.0

# Requirements for the celery worker
raven==6.10.0
celery==5.2.7
