# Requirements for the backend server
fastapi==0.85.2
sqlalchemy==1.4.42
psycopg2-binary==2.9.5
uvicorn[standard]==0.15.0
gunicorn==20.1.0
emails==0.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
email-validator==1.3.0
python-multipart==0.0.5

# Requirements for the celery worker
raven==6.10.0
celery==5.2.7
